{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "import", "prettier"],
  "ignorePatterns": ["lib", "bin","cypress.config.ts", "swagger-ui-dist", "test/load"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "airbnb-typescript/base",
    // Make sure prettier is at last to resolve any conflicting rules
    "prettier"
  ],
  "parserOptions": {
    "project": "./tsconfig.eslint.json"
  },
  "rules": {
    "prettier/prettier": ["error",
      {
      "endOfLine": "auto"
    }
    ],
    "@typescript-eslint/no-explicit-any": "off",
    "no-loop-func": "off",
    "@typescript-eslint/no-loop-func": "off"
  }
}